.about-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.no-padding {
    padding: 0 !important;
}

.text-muted {
    margin-bottom: 0.5rem;
}

.card-img-top-custom {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-title-custom {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
    /* 3 lines * 1.5em line height */
}

/* dropdown */
.dropdown-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.dropdown-label {
    margin-right: 8px;
    font-size: 14px;
}

.dropdown-select:focus {
    outline: none;
    border-color: #5a9;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 4px;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ec6327;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
}

.pagination a.active {
    background-color: #ec6327;
    color: white;
    border: 1px solid #ec6327;
}

@media (max-width: 576px) {
    .pagination {
        flex-wrap: wrap;
    }

    .pagination a {
        margin-bottom: 5px;
    }

    .pagination a.arrow {
        display: none;
    }
}


@media (min-width: 768px) {
    .about-margin {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 992px) {
    .about-margin {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width: 767.98px) {
    .d-flex-column {
        display: flex;
        flex-direction: column !important;
    }

    .align-items-start {
        align-items: flex-start !important;
    }

    .mb-2 {
        margin-bottom: 0.5rem !important;
    }
}

@media (min-width: 768px) {
    .d-flex-row {
        display: flex;
        flex-direction: row !important;
    }

    .align-items-center {
        align-items: center !important;
    }

    .mx-md-3 {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }
}