.dropdown-container {
    display: flex;
    align-items: center;
}

.dropdown-label {
    margin-right: 8px;
}

.dropdown-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    padding: 5px 30px 5px 15px; /* Tambahkan padding kanan untuk memberi ruang pada ikon */
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 10px center;
    outline: none;
    transition: border-color 0.3s;
    background-image: url('images/dropdown.png'); 
    background-size: 20px 20px; /* Sesuaikan ukuran ikon */
}

.dropdown-select:focus {
    border-color: #a8a8a8;
}
