/* Existing styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.ideas-section {
    position: relative;
    height: 500px;
    background: url('/images/home-image.jpg') no-repeat center center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    background-attachment: fixed;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.overlay h1 {
    font-size: 3rem;
}

.overlay p {
    font-size: 1.5rem;
}