.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgba(236, 99, 39, 0.9);
}

.hidden {
    top: -100px;
    /* Adjust as needed based on your header height */
    background-color: rgba(236, 99, 39, 0);
}

.navbar_container {
    background-color: #ec6327;
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
}

.gap-link {
    gap: 10px;
}

.nav-link::after,
.text-white::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.text-white:hover::after {
    width: 100%;
}

.active-link::after {
    width: 100%;
}